/* 
@font-face {
  font-family: "Trade Gothic W01 Obl";
  src: url(/fonts/402df645-4a32-4a66-9584-257f7972c133.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-display: swap;
  font-family: "Trade Gothic W01 Bold";
  src: url(/fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Trade Gothic W01 Bold_2";
  src: url(/fonts/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Trade Gothic W01 Cn_18";
  src: url(/fonts/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "TradeGothicW01-BoldCn20_675334";
  src: url(/fonts/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1,
h2--header-large {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

html,
body {
  font-family: "Trade Gothic W01 Cn_18", Arial, sans-serif;
  background-color: rgb(232, 232, 232);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagetitle {
  text-transform: uppercase;
  font-size: 2.8125rem;
  line-height: 1;
  font-family: TradeGothicW01-BoldCn20_675334, Arial Narrow, Arial, sans-serif;
  font-weight: 400;
  display: block;
  margin: 2rem 0 1rem 0;
}

.pagetitle-fallback {
  font-family: Arial Narrow, Arial, sans-serif;
  font-weight: bold;
}

b {
  font-family: "Trade Gothic W01 Bold_2";
}

h3 {
  margin: 40px 0 0;
  font-family: "Trade Gothic W01 Bold", Arial, sans-serif;
  font-weight: 400;
}

.verification {
  margin-top: 1rem;
  padding-left: 2.8rem;
  position: relative;
  color: #333;
}
.verification .value {
  font-family: "Trade Gothic W01 Bold_2", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  margin-top: -5px;
  color: inherit;
}
.verification .icon {
  position: absolute;
  left: 0;
  stroke: #418523;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin-top: 0;
}

a {
  color: #42b983;
}

.header {
  height: 60px;
  background-color: #005598;
  background-repeat: no-repeat;
  background-position: 2px 0;
  background-size: auto 60px;
  position: relative;
}

select.lang {
  -webkit-appearance: none;
  position: absolute;
  padding: 5px 20px 5px 5px;
  display: inline-block;
  top: 14px;
  height: 32px;
  right: 16px;
  color: white;
  background-color: #005598;
  outline: none;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1569 6.13604L6.5 11.7929L0.843146 6.13604' stroke='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 8px;
}

.box {
  background-color: white;
  padding: 2rem 1rem 3rem 1rem;
  margin: 1rem auto;
  position: relative;
  overflow-y: visible;
}

p,
label {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
}
p,
ul {
  color: #333;
}

.button {
  margin-top: 27px;
  color: white;
  background-color: #005598;
  border: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 30px;
  padding: 7px 20px;
  margin-right: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #005598;
}

.button:hover {
  background-color: #003865;
}

.button.button--secondary {
  color: #005598;
  background-color: white;
  border: 1px solid #005598;
}

.button.button--secondary:hover {
  color: #003865;
  background-color: white;
  border-color: #003865;
}

.button:focus {
  box-shadow: 0 0 0 6px #a5d7f5;
  border-radius: 1px;
  outline: 0;
}

a {
  color: #003865;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.form p {
  margin-bottom: 0.5rem;
}
.form .error {
  font-size: 16px;
  line-height: 22px;
  color: #b80000;
}

label.label {
  font-family: "Trade Gothic W01 Bold_2";
  font-weight: bold;
  color: #333;
}

.vti__dropdown-list {
  max-width: calc(100vw - 68px);
}

.vue-tel-input {
  border: 1px solid #e8e8e8;
}
.vti__input {
  height: 38px;
  width: 100%;
  display: block;
}
.vti__input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

h2.step {
  font-weight: normal;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 22px;
  border-bottom: 1px solid #979797;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: block;
  color: black;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 700px;
}
